.dashboard-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100vw;
    flex-wrap: wrap;
    margin: 0 auto;
    position: relative;
    z-index: 9;
}

.dashboard-info .content {
    max-width: fit-content;
    width: 100%;
    margin-bottom: 52px;
}

.dashboard-info .options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.dashboard-info .options button {
    padding: 6px 18px;
    background-color: transparent;
    border: 1px solid;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    line-height: 17px;
    border-radius: 100px;
}

.dashboard-info .options button + button {
    margin-left: 14px
}

.dashboard-info .options button.red {
    color: #D0021B;
    border-color: #D0021B;
}
.dashboard-info .options button.red.interested {
    color: #ffffff;
    background-color: #D0021B;
}

.dashboard-info .options button.purple {
    color: #BD10E0;
    border-color: #BD10E0;
}
.dashboard-info .options button.purple.interested {
    color: #ffffff;
    background-color: #BD10E0;
}

.dashboard-info .options button.blue {
    color: #4A90E2;
    border-color: #4A90E2;
}
.dashboard-info .options button.blue.interested {
    color: #ffffff;
    background-color: #4A90E2;
}

.dashboard-info .options button.green {
    color: #7CBB37;
    border-color: #7CBB37;
}
.dashboard-info .options button.green.interested {
    color: #ffffff;
    background-color: #7CBB37;
}

.dashboard-info .options button.orange {
    color: #F5A623;
    border-color: #F5A623;
}
.dashboard-info .options button.orange.interested {
    color: #ffffff;
    background-color: #F5A623;
}

.dashboard-info .form {
    width: 100%;
    margin-bottom: 11px;
}

.dashboard-info .title {
    font-size: 24px;
    color: #3E433E; 
    font-weight: normal;
    line-height: 29px;
    margin-bottom: 63px;
}

.dashboard-info h2 {
    font-size: 14px;
    color: #3E433E; 
    font-weight: normal;
    line-height: 17px;
    margin-bottom: 19px;
}

.dashboard-info input[type=checkbox] {
    display: none;
}

.dashboard-info .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 242px;
    height: 52px;
    border: 0px;
    text-decoration: none;
    background-color: #4990E2;
    cursor: pointer;
    margin: 0 auto;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 19px;
    transition: all .3s;
}   

.dashboard-info .button.secondary{
    background-color: transparent;
    color: #4990E2;
}

.dashboard-info .button:hover {
    background-color:#5E9BE2;
}

.dashboard-info .button.secondary:hover {
    color:#ffffff;
}

@media (max-width: 750px) {

    .dashboard-info {
        padding: 0 20px;
    }

    .dashboard-info .options button {
        margin-bottom: 14px;
    }

    .dashboard-info .options {
        justify-content: space-evenly;
    }

}